<nav class="navbar navbar-light">
    <h1 class="viewbook-text">View Book</h1>
  </nav>


  <!-- table -->
  <div class="container-fluid mt-5">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
               <th>IBSN</th>
                <th>Book name</th>
                <th>Author</th>
                <th>Publication</th>
                <th>Qty.</th>
                <th>Price</th>
                <th>Branch</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let data of bookingreq">
                <td>{{data.ibsn}}</td>
                <td>{{data.name}}</td>
                <td>{{data.author}}</td>
                <td>{{data.publication}}</td>
                <td>{{data.quantity}}</td>
                <td>{{data.price}}</td>
                <td>{{data.branch}}</td>
                <td>{{data.details}}</td>
            </tr>
          
          
          
          
        </tbody>
    </table>
    </div>